@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    position: relative;
    color: white;
    height: 100vh;
    background-color: #232c39;
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    overflow-y: hidden;
}
